.grid {
    width: 600px;
    height: 600px;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.row {
    display: flex;
    flex: 1;
}

.square {
    flex: 1;
    border: 1px solid black;
}